@if (authService.isSindico) {
  
  <div style="margin-bottom: 24px;">
    <img src="/logo.png" alt="Veritas" style="max-height: 50px; margin-bottom: 8px;">
    <h1 class="font" style="margin-top: 0;">Painel do Síndico</h1>
  </div>
  <section class="estatisticas-grid">
    <div class="card-estatistica">
      <strong class="valor valor-escuro">{{ estatisticas?.total_moradores || 0 }}</strong>
      <span>Moradores cadastrados</span>
    </div>
    <div class="card-estatistica">
      <strong class="valor valor-vermelho">{{ estatisticas?.chamados_abertos || 0 }}</strong>
      <span>Chamados abertos</span>
    </div>
    <div class="card-estatistica">
      <strong class="valor valor-amarelo">{{ estatisticas?.chamados_andamento || 0 }}</strong>
      <span>Em andamento</span>
    </div>
    <div class="card-estatistica">
      <strong class="valor valor-verde">{{ estatisticas?.chamados_concluidos || 0 }}</strong>
      <span>Concluídos no mês</span>
    </div>
  </section>

  <!-- Gráfico -->
  <section class="cartao-acesso">
    <h2>Visão geral de chamados</h2>
    
    <div class="chart-wrapper">
      <app-chart-chamados [dados]="estatisticas"></app-chart-chamados>
    </div>

    <!-- Legendas personalizadas -->
    <div class="legendas-grafico">
      <div class="legenda-item">
        <span class="bolinha bolinha-vermelho"></span>
        <span>Abertos</span>
      </div>
      <div class="legenda-item">
        <span class="bolinha bolinha-amarelo"></span>
        <span>Em andamento</span>
      </div>
      <div class="legenda-item">
        <span class="bolinha bolinha-verde"></span>
        <span>Concluídos</span>
      </div>
    </div>
  </section>
  <section class="cartao-acesso" style="margin-bottom: 24px;">
    <h2>Ações Rápidas</h2>
    <p>Escolha uma função para gerenciar o condomínio.</p>

    <div class="opcoes-perfil">
      <button class="card-perfil card-painel" type="button" routerLink="/chamados">
        <strong>Gerenciar chamados</strong>
        <span>Resolva, exclua e veja o histórico.</span>
      </button>

      <button class="card-perfil card-painel" type="button" routerLink="/moradores">
        <strong>Cadastro de endereço</strong>
        <span>Cadastre e consulte os moradores.</span>
      </button>
    </div>
  </section>

  
} @else {
  <div style="margin-bottom: 24px;">
    <img src="/logo.png" alt="Veritas" style="max-height: 50px; margin-bottom: 8px;">
    <h1 class="font" style="margin-top: 0;">Bem-vindo(a) ao Veritas</h1>
  </div>

  <section class="cartao-acesso">
    <h2>Ações Rápidas</h2>
    <p>Escolha uma função abaixo.</p>

    <div class="opcoes-perfil">
      <button class="card-perfil card-painel" type="button" routerLink="/chamados">
        <strong>Meus Chamados</strong>
        <span>Abra novos chamados ou acompanhe o status dos atuais.</span>
      </button>
    </div>
  </section>
}
