<div class="dashboard-container">
  <div class="page-header">
     <h1>Painel do síndico</h1>
     <p class="subtitulo">Residencial Manaus</p>
  </div>
  <div class="page-content">
  <h3 class="secao-titulo">Manutenção / Chamados</h3>
  
  <div class="graficos-grid">
    <app-chart-chamados [dados]="estatisticas"></app-chart-chamados>
  </div>
  <h3 class="secao-titulo">Funções do Síndico</h3>
  
  <div class="acesso-rapido-grid">
    <button class="card-acao" type="button" matRipple matRippleColor="rgba(0,0,0,0.05)">
      <strong>Gerenciar chamados</strong>
      <br>
      <span class="subtitulo" style="font-size: 0.75rem;">Resolva, exclua e veja o histórico de chamados.</span>
    </button>

    <button class="card-acao" type="button" matRipple matRippleColor="rgba(0,0,0,0.05)">
      <strong>Cadastro de moradores</strong>
      <br>
      <span class="subtitulo" style="font-size: 0.75rem;">Cadastre e consulte os moradores do condomínio.</span>
    </button>
  </div>
  </div>
</div>
