<div class="login-page">

  <!-- =============================== -->
  <!-- TELA 1: ESCOLHA DE PERFIL       -->
  <!-- =============================== -->
  @if (telaAtual === 'perfil') {
    <section class="card-painel-central">
      <h2>Escolha seu perfil</h2>
      <p>Bem-vindo ao Veritas. Como você quer entrar?</p>

      <div class="opcoes-grid">
        <!-- O [class.selecionado] aplica a classe CSS "selecionado" magicamente se a condição for verdadeira -->
        <button class="botao-perfil" (click)="escolherPerfil('morador')" [class.selecionado]="perfil_selecionado === 'morador'">
          <strong>Morador</strong>
          <br><span>Abra e acompanhe seus chamados.</span>
        </button>

        <button class="botao-perfil" (click)="escolherPerfil('sindico')" [class.selecionado]="perfil_selecionado === 'sindico'">
          <strong>Síndico</strong>
          <br><span>Gerencie os chamados e moradores.</span>
        </button>
      </div>

      <!-- Só mostra o botão de continuar se o usuário já tiver clicado em alguma opção -->
      @if (perfil_selecionado !== '') {
        <button class="botao-continuar" (click)="ir_paralogin()">
          Continuar para login
        </button>
      }
    </section>
  }


  <!-- =============================== -->
  <!-- TELA 2: FORMULÁRIO DE LOGIN     -->
  <!-- =============================== -->
  @if (telaAtual === 'login'){
    <section class="card-painel-central">
      <button class="botao-voltar" (click)="voltarParaPerfil()">⬅ Voltar para perfil</button>

      <!-- Usamos o bigode {{ }} para colocar a palavra Morador ou Síndico no título -->
      <h2>Entrar como {{ perfil_selecionado }}</h2>
      
      <div class="campo">
        <label>CPF</label>
        <!-- A #cpfInput é um "apelido" para o Angular conseguir ler o que foi digitado depois -->
        <input #cpfInput type="text" placeholder="000.000.000-00">
      </div>

      <div class="campo">
        <label>Senha</label>
        <input #senhaInput type="password" placeholder="******">
      </div>

      <!-- Passamos os valores digitados (cpfInput.value) para a função lá no TS -->
      <button class="botao-continuar" (click)="fazerLogin(cpfInput.value, senhaInput.value)">
        Entrar
      </button>

      <!-- Mensagem de erro vermelha caso erre a senha -->
      @if (erroLogin !== '') {
        <p class="erro-texto">{{ erroLogin }}</p>
      }
    </section>
  }

</div>
